.quiz-container {
  background-color: #ffffff;
}

.qhead {
  text-align: left;
}

.number {
  margin-left: 7%;
  display: inline-block;
  background-color: #bfd1df;
  width: 60px;
  text-align: center;
  font-family: Harriet Display, serif;
  font-size: 3em;
  line-height: 0.9em;
  padding-top: 1px;
  padding-bottom: 12px;
  display: inline-block;
}

.question {
  font-family: Balto ,sans-serif;
  font-weight: bold;
  color: #4c4e4d;
  font-size: 1.5em;
  margin: 0% auto;
  margin-bottom: 30px;
  margin-top:0px;
}

ol.answers > li:before {
  font-family: Balto, sans-serif;
  font-weight: bold;
  color: #4c4e4d;
  background-color: #bfd1df;
  width: 30px;
}

ol.answers > li {
  font-family:Alright Sans, sans-serif;
}

ol.answers > li:hover {
  background-color: #f1f3f2;
}

.hintbutton {
  background-color: #f1f3f2;
  color: #4c4e4d;
  font-family: Alright Sans,sans-serif;
}

.hintbutton:hover {
  background-color: #bfd1df !important;
}

.selected {
  background-color: #dfdfe0;
}

.answer > p {
  margin: 20px 0 20px 0px;
}

.score {
  font-family:Harriet Display;
  font-style:italic;
  font-weight:bold;
}

#social-media ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#social-media ul li {
  display: inline-block;
}

#social-media ul li a {
  text-decoration: none;
}

#social-media ul li a svg {
  height: 2em;
  width: 2em;
  margin-right: 1em;
}

#social-media ul li a svg:hover {
  fill: #fff200

}

#social-media ul li a svg path:hover {
  fill: #ffffff;
}