body {
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 14px;
	padding-top: 30px;
}

h1 {
	font-family: "Balto";
	font-weight: bold;
	color: #414141;
	border-bottom: 2px solid yellow;
}

input[type=radio]:not(:first-child) {
	margin-left: 15px;

}