<div class="headline">
  Quiz Quartet
</div>
<div class="containing">
  <h5> Write your quiz</h5>
  <p>Use <a href="https://drive.google.com/previewtemplate?id=0AlMgrVuuAI0MdGl6NngwMGYtX3RHQjlic0xzNnBjUGc&mode=public" target="_new">this Google Spreadsheet template</a> to write your quiz.</p>
  <p>Once you're done editing, publish the spreadsheet to the web. Under the <b>"File"</b> menu, select <b>"Publish to the Web."</b> Click <b>"Start Publishing"</b> and copy the URL to build the quiz.</p>
  <center><p style="font-size:0.8em">Want to test it out? Try this spreadsheet:<br><textarea style="overflow:auto:" rows="2">https://docs.google.com/spreadsheets/d/1RWfz6fPQYVH3PsadeEnw8LUKF95B8NgyG3ndRxW94Uw/pubhtml</textarea></p></center>

<h5> Enter your spreadsheet</h5>
<p>Copy and paste your spreadsheet's URL here: <input type="text" id="url"></p>

<h5> Select your vertical</h5>
<form>
  <input type="radio" name="pub" value="vox">&nbsp;Vox&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" name="pub" value="sbnation">&nbsp;SB Nation&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" name="pub" value="verge">&nbsp;The Verge&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" name="pub" value="polygon">&nbsp;Polygon
</form>
<div class="embed" style="margin-top: 30px; margin-bottom: 60px;">
  <h5>Generate, copy and paste this code into Chorus</h5>
  <center><p><button id="build" onclick="buildquiz()">Generate your quiz</button><p>
  <p><i>(This embed code assumes that jquery is loaded on the page already.)</i></p>
  <p><textarea type="text" name="embedcode" id="embedcode" style="height: 150px; overflow:auto;"></textarea></center></p>
</div>

<h5>Preview</h5>
</div>

<div class="pv">
<div class="quiz-container"></div>
</div>

<script type="text/javascript">
  var key;
  var pubStylesheet = 'https://s3-us-west-2.amazonaws.com/quiz-generator/quiz-vox.css';
  var pub;

  function getStylesheet() {
    pub = $('input[name="pub"]:checked').val();
    pubStylesheet = "https://s3-us-west-2.amazonaws.com/quiz-generator/quiz-" + pub + ".css";
  }

  function embed() {
    $("#embedcode").html("&lt;div class='quiz-container'></div>&lt;script type='text/javascript'>var input = " + JSON.stringify(input) + "; var pubStylesheet = '" + pubStylesheet + "';&lt;/script>&lt;/script>&lt;script src='https://s3-us-west-2.amazonaws.com/quiz-generator/quiz.js'>&lt;/script>");
  }

  function buildquiz(){
    url = $('#url').val();
    init();
    getStylesheet();
  }
</script>