<h1>Make a quiz here</h1>

<div class="feature-body">
<h5>Google Spreadsheet URL:&nbsp;&nbsp;&nbsp;<input type="text" id="url">&nbsp;&nbsp;&nbsp;<button id="build" onclick="buildquiz()">Build quiz!</button></h5>

<div class="embed" style="margin-top: 30px;">
  <h5>Embed code:</h5>
  <p id="crap"></p>
  <p><textarea type="text" name="embedcode" id="embedcode" row="8" cols="100"></textarea></p>
</div>

  <div class="quiz" style="margin: 30px 0 0 0;">
  </div>

</div>

<script type="text/javascript">
  var key;

  function embed() {
    // generate embed code
    $("#embedcode").html("&lt;script src='tabletop.js'><\/script>&lt;script src='quiz.js'><\/script>&lt;script type='text/javascript'>$(document.ready(function(){ url = 'https://docs.google.com/spreadsheets/d/1RWfz6fPQYVH3PsadeEnw8LUKF95B8NgyG3ndRxW94Uw/pubhtml'; init(); }) <\/script>");
  }

  function preview() {
    // generate quiz preview
  }

  function buildquiz(){
    url = $('#url').val();
    embed();
    init();
  }

  $(document).ready(function(){
  })

</script>